<div class="container-fluid col-11">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="form">
                <div class="input-group mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fas fa-search"></i>
                        </div>
                    </div>
                    <input type="text" class="form-control" id="searchInput" placeholder="Nr. rejestracyjny lub Nr. VIN" ng-model="text">
                    <button class="btn btn-primary mx-1" ng-click="ctrl.search(text)">Szukaj</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Marka</th>
                        <th scope="col">Model</th>
                        <th scope="col">Nr. rejestracyjny</th>
                        <th scope="col">Nr. VIN</th>
                        <th scope="col">Nr. Seryjny</th>
                        <th scope="col">Kategoria</th>
                        <th scope="col">Akcja</th>
                    </tr>
                </thead>
                <tbody>
                <tr ng-repeat="rent in ctrl.rents">
                    <th scope="row">{{rent.id}}</th>
                    <td>{{rent.carBrand}}</td>
                    <td>{{rent.carModel}}</td>
                    <td>{{rent.rejNumber}}</td>
                    <td>{{rent.vinNumber}}</td>
                    <td>{{rent.serialNumber}}</td>
                    <td>{{rent.category}}</td>
                    <td>
                        <button class="btn btn-sm btn-success" title="Edytuj">
                            <a ng-href="#!rent-edit/{{rent.id}}" class="text-white">
                                <i class="fas fa-edit"></i>
                            </a>
                        </button>
                        <button class="btn btn-sm btn-warning" title="Historia wypożyczeń">
                            <a ng-href="#!rent-history/{{rent.id}}" class="text-white">
                                <i class="fas fa-history"></i>
                            </a>
                        </button>
                        <button class="btn btn-sm btn-danger" title="Usuń">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <a ng-href="#!rent-add" class="btn btn-primary m-md-3">Dodaj samochód</a>
    </div>
</div>